@import "_var.scss";

body {
  font-family: $base-font-serif;
  background-color: $color-dark;
  color: rgba(white, .1);
}

// scale
h1 {
  font-size: 64px;
  color: $color-primary;
}
h2 {
  font-size: 47.5px;
  color: $color-secondary;
}
h3 { font-size: 32px; }
h4 { font-size: 23.75px; }

p {
  font-size: 16px;
  color: white;
}

small { font-size: 8px; }